@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* variable */
:root {
  --sans-serif: "Lato", serif;
  --serif: "Playfair Display", serif;
  --primary: red;
  --light: white;
  --white: #b4b2ad;
  --secondary: #787276;
  --dark: #000;
}
/* reset styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* section */
.section {
  width: 100%;
  padding: 100px 0;
}

/* heading */
.heading {
  color: var(--dark);
  font-size: 28px;
  font-weight: bold;
  font-family: var(--sans-serif);
}
.h1 {
  color: var(--dark);
  font-size: 90px;
  font-family: var(--sans-serif);
  text-transform: capitalize;
}
.h2 {
  color: var(--dark);
  font-size: 50px;
  font-family: var(--sans-serif);
  text-transform: capitalize;
}

.bg-dark {
  background: var(--dark) !important;
}
.text-white {
  color: var(--white) !important;
}
img {
  width: 100%;
}

/* .button {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(45deg, #544c5b, var(--dark));
  color: var(--light);
  width: 150px;
  border-radius: 6px !important;
  padding: 8px 0;
  font-size: 12px;
}
.button i {
  padding-left: 8px;
  font-size: 12px;
} */
